<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITestContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TestService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestContract"
                contract="Arma3BEService.Lib.Contracts.ITestContract" name="WSHttpBinding_ITestContract">
                <identity>
                    <userPrincipalName value="MEGA\Артём" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Arma3BEService.Service.TestService">
                <endpoint address="" binding="basicHttpBinding" contract="Arma3BEService.Lib.Contracts.ITestContract">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Arma3BEService.TestClient/TestService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>