@model Arma3BE.Web.Models.ServerModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>


<table>
    @for (var i = 0; i < Model.Players.Count; i++)
    {
        <tr>
            <td>@Model.Players[i].Num</td>
            <td>@Model.Players[i].Name</td>
        </tr>
    }
</table>

